.contenedor-calculadora {
    width: 320px;
    height: 550px;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.514);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.292);
    border-radius: 10px;
}