.contenedor-calculadora {
    padding: 10px;
    width: 270px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.107);
}