.display {
    height: 8rem;
    width: 320px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.322);
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
}