.contenedor-display{
    width:100%;
    height: 150px;
    margin-bottom: 10px;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    
}
.display-mayor{
    margin-right: 20px;
    color: white;
    font-size: 3rem;
    width: 100%;
    height: 5rem;
    overflow:hidden;
}


.display {
    color: white;
    width: 95%;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
    overflow:hidden;
}