.display {
    height: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.322);
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
}