body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: pink;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}